{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row justify-content-center mt-5">
       
       {% for m in all_blogs %}
        <div class="card col-md-8 mt-3 mb-3 shadow">
            <div class="card-header">
              {{m.title}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{m.description}}</p>
                <footer class="blockquote-footer">Posted By <cite title="Source Title">{{m.user}}</cite></footer>
              </blockquote>
            </div>
            <div class="card-footer text-muted">
                {{m.date}}
              </div>
          </div>

        {% endfor %}  
    </div>
</div>




{% endblock %}